sem_05/data_bases/lab_08/lab_08.json
{"flowContents":{"identifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7","instanceIdentifier":"9e636590-0185-1000-0000-000053e26563","name":"lab_08","comments":"","position":{"x":208.0,"y":-32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0f30ae9f-0cfe-3723-8b69-ee978dc07a3a","instanceIdentifier":"9e86b464-0185-1000-0000-000024242c7c","name":"PutSQL","comments":"","position":{"x":1200.0,"y":168.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"93ea3e0d-559f-32fd-8f85-f88b84619806","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"4d330b62-b190-35a9-9602-06da91b1cb77","instanceIdentifier":"9e64e6fe-0185-1000-0000-00001c7d451f","name":"GetFile","comments":"","position":{"x":216.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/in_file","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"631724b3-42ce-3284-b5b5-e7b593e943a5","instanceIdentifier":"9e71ec33-0185-1000-ffff-ffffa3df5a69","name":"ConvertJSONToSQL","comments":"","position":{"x":832.0,"y":384.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"table-schema-cache-size":"100","Table Name":"club_pets","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":"public","Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Fail on Unmatched Columns","jts-quoted-identifiers":"false","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"93ea3e0d-559f-32fd-8f85-f88b84619806","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"76e04c6e-0b14-372b-9452-ca468aa44d20","instanceIdentifier":"9e896865-0185-1000-ffff-ffff90898368","name":"LogAttribute","comments":"","position":{"x":832.0,"y":-24.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"e72bdbaa-2b04-30df-9b63-53d35fee0f82","instanceIdentifier":"9e6efb2b-0185-1000-0000-00001140303e","name":"SplitJson","comments":"","position":{"x":216.0,"y":376.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"d8100260-0751-3fd4-ba36-80d8e30f1c4f","instanceIdentifier":"9e699857-0185-1000-ffff-ffffb2198b67","name":"ConvertRecord","comments":"","position":{"x":216.0,"y":176.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.19.0"},"properties":{"record-writer":"de06e88b-8482-3a17-bf86-edf0a90ea1f4","record-reader":"1c13ab0a-6d19-3738-944f-cf39111997a2","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8e73d043-9176-38e9-a0f6-b9ddbe2c9688","instanceIdentifier":"9e8894d2-0185-1000-0000-00002a98c981","name":"","source":{"id":"0f30ae9f-0cfe-3723-8b69-ee978dc07a3a","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"PutSQL","comments":"","instanceIdentifier":"9e86b464-0185-1000-0000-000024242c7c"},"destination":{"id":"0f30ae9f-0cfe-3723-8b69-ee978dc07a3a","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"PutSQL","comments":"","instanceIdentifier":"9e86b464-0185-1000-0000-000024242c7c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1668.6902465820312,"y":210.5617218017578},{"x":1712.0,"y":224.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"c3f366b8-0d5d-373d-a47e-3b8058e3c9c1","instanceIdentifier":"9e8d09e0-0185-1000-ffff-ffffde682225","name":"","source":{"id":"e72bdbaa-2b04-30df-9b63-53d35fee0f82","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"SplitJson","comments":"","instanceIdentifier":"9e6efb2b-0185-1000-0000-00001140303e"},"destination":{"id":"76e04c6e-0b14-372b-9452-ca468aa44d20","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"LogAttribute","comments":"","instanceIdentifier":"9e896865-0185-1000-ffff-ffff90898368"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"62c1f75e-2f8f-342a-85ac-9582993dab5d","instanceIdentifier":"9e8d37ac-0185-1000-ffff-ffff9155e857","name":"","source":{"id":"631724b3-42ce-3284-b5b5-e7b593e943a5","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"9e71ec33-0185-1000-ffff-ffffa3df5a69"},"destination":{"id":"76e04c6e-0b14-372b-9452-ca468aa44d20","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"LogAttribute","comments":"","instanceIdentifier":"9e896865-0185-1000-ffff-ffff90898368"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"da5d1a55-4cb8-37e7-926d-51518a08fb90","instanceIdentifier":"9e89f0f2-0185-1000-ffff-ffffa0caf592","name":"","source":{"id":"0f30ae9f-0cfe-3723-8b69-ee978dc07a3a","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"PutSQL","comments":"","instanceIdentifier":"9e86b464-0185-1000-0000-000024242c7c"},"destination":{"id":"76e04c6e-0b14-372b-9452-ca468aa44d20","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"LogAttribute","comments":"","instanceIdentifier":"9e896865-0185-1000-ffff-ffff90898368"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"833188ba-e23b-37e4-87d4-fb4e890b9fbe","instanceIdentifier":"9e6ae847-0185-1000-0000-00002ff566b5","name":"","source":{"id":"4d330b62-b190-35a9-9602-06da91b1cb77","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"GetFile","comments":"","instanceIdentifier":"9e64e6fe-0185-1000-0000-00001c7d451f"},"destination":{"id":"d8100260-0751-3fd4-ba36-80d8e30f1c4f","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"ConvertRecord","comments":"","instanceIdentifier":"9e699857-0185-1000-ffff-ffffb2198b67"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"80cad7da-566c-35f7-8786-269c567e6ff2","instanceIdentifier":"9e6f6c7f-0185-1000-0000-00006b2d8729","name":"","source":{"id":"d8100260-0751-3fd4-ba36-80d8e30f1c4f","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"ConvertRecord","comments":"","instanceIdentifier":"9e699857-0185-1000-ffff-ffffb2198b67"},"destination":{"id":"e72bdbaa-2b04-30df-9b63-53d35fee0f82","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"SplitJson","comments":"","instanceIdentifier":"9e6efb2b-0185-1000-0000-00001140303e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"8af3ff49-1491-3001-8e21-72d5ceff8b4e","instanceIdentifier":"9e874940-0185-1000-0000-00007e6da68d","name":"","source":{"id":"631724b3-42ce-3284-b5b5-e7b593e943a5","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"9e71ec33-0185-1000-ffff-ffffa3df5a69"},"destination":{"id":"0f30ae9f-0cfe-3723-8b69-ee978dc07a3a","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"PutSQL","comments":"","instanceIdentifier":"9e86b464-0185-1000-0000-000024242c7c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"b9dfbf18-9c51-3ec2-9cb5-b0f89443b1bc","instanceIdentifier":"9e736ded-0185-1000-0000-0000111e6e4c","name":"","source":{"id":"e72bdbaa-2b04-30df-9b63-53d35fee0f82","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"SplitJson","comments":"","instanceIdentifier":"9e6efb2b-0185-1000-0000-00001140303e"},"destination":{"id":"631724b3-42ce-3284-b5b5-e7b593e943a5","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"ConvertJSONToSQL","comments":"","instanceIdentifier":"9e71ec33-0185-1000-ffff-ffffa3df5a69"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"6e74a4ac-cd5c-3522-b9db-760c66783c15","instanceIdentifier":"9e8c8fd7-0185-1000-0000-000030cc70da","name":"","source":{"id":"d8100260-0751-3fd4-ba36-80d8e30f1c4f","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"ConvertRecord","comments":"","instanceIdentifier":"9e699857-0185-1000-ffff-ffffb2198b67"},"destination":{"id":"76e04c6e-0b14-372b-9452-ca468aa44d20","type":"PROCESSOR","groupId":"99f85673-d041-3ba8-b43d-f154df0e6cc7","name":"LogAttribute","comments":"","instanceIdentifier":"9e896865-0185-1000-ffff-ffff90898368"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"de06e88b-8482-3a17-bf86-edf0a90ea1f4","instanceIdentifier":"9e6ca6b9-0185-1000-0000-00000916cb08","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"1c13ab0a-6d19-3738-944f-cf39111997a2","instanceIdentifier":"9e6c60e4-0185-1000-0000-00002cfed0ad","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.19.0"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"},{"identifier":"93ea3e0d-559f-32fd-8f85-f88b84619806","instanceIdentifier":"9e7a5f3f-0185-1000-0000-000048bdcf9d","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.19.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres:5432/computer_club","dbcp-time-between-eviction-runs":"-1","Database User":"polnaya_katuxa","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/labs/lab_08/postgresql-42.5.1.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.19.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"99f85673-d041-3ba8-b43d-f154df0e6cc7"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}